@header-height: 120px;
@theme-light-color: #E0E2FB;
@theme-dark-color: #484871;

header.page-header {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px @theme-dark-color;
  height: @header-height;
  padding: 10px 2em;
  position: fixed;
  width: 100%;

  .signature {
    color: @theme-dark-color;
    letter-spacing: 1px;
    line-height: 1.5em;
    min-width: 260px;
    width: 33%;

    .owner-image {
      border: solid #fff 3px;
      border-radius: 50%;
      box-shadow: 0px 0px 3px 1px @theme-dark-color;
      height: 100px;
      width: 100px;
    }

    div {
      padding: 0.5em 1em;

      p {
        clear: both;
      }
    }
  }
}
