<header class="page-header">
  <div class="content">
    <div class="signature">
      <img id="header-image" class="owner-image"
           alt="Surender Thakran's Image"
           src="/images/owner.jpeg">
      <div>
        <a href="/">
          <p>SURENDER THAKRAN</p>
        </a>
        <p>Technology Enthusiast</p>
      </div>
    </div>
    <div class="centerbar">
      <a href="https://github.com/surenderthakran" target="_blank">
        <img class="github" alt="GitHub Logo"
             src="/images/github_logo_small.png">
      </a>
      <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
        <img class="linkedin" alt="LinkedIn Logo"
             src="/images/linkedin_logo_small.png">
      </a>
      <a href="https://store.docker.com/profiles/surenderthakran"
         target="_blank">
        <img class="docker" alt="Docker Logo"
             src="/images/docker_logo_small.png">
      </a>
    </div>
    <nav class="menu">
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/projects">PROJECTS</a>
        </li>
        <li>
          <a href="/about">ABOUT</a>
        </li>
      </ul>
    </nav>
    <nav class="hamburger">
      <button id="hamburger"></button>
    </nav>
  </div>
  <div id="drawer" class="drawer hide">
    <ul>
      <li>
        <a href="https://github.com/surenderthakran" target="_blank">
          <img class="logo github" alt="GitHub Logo"
               src="/images/github_logo_small.png">
        </a>
        <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
          <img class="logo linkedin" alt="LinkedIn Logo"
               src="/images/linkedin_logo_small.png">
        </a>
        <a href="https://store.docker.com/profiles/surenderthakran"
           target="_blank">
          <img class="logo docker" alt="Docker Logo"
               src="/images/docker_logo_small.png">
        </a>
      </li>
      <li>
        <a class="menu-link" href="/">HOME</a>
      </li>
      <li>
        <a class="menu-link" href="/projects">PROJECTS</a>
      </li>
      <li>
        <a class="menu-link" href="/about">ABOUT</a>
      </li>
    </ul>
  </div>
</header>
<div class="spacer"></div>
