<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head_content}}
    </head>
    <body>
        {{>header}}
        <section class="article-list">
            <header>NEW ARTICLES</header>
            <ul>
                {{#articles}}
                <li>
                    <a href="{{ url }}"><h1>{{ article.title }}</h1></a>
                    <time datetime="{{ article.datetime }}">{{ article.date }}</time>
                </li>
                {{/articles}}
            </ul>
        </section>
    </body>
</html>
