<!DOCTYPE html>
<html>
    <head>
        <title>About Surender Thakran</title>
    </head>
    <body>
        <div style="float: left; width: 425px; ">
            <img src="./images/author.png">
        </div>
        <div style="float: left; width: 800px; margin: 2%; font-size: 18px; font-family: serif; ">
            <p style="font-weight: bold; font-size: 30px; ">About The Author</p>
            <p>My name is Surender Thakran.
                I have been working with web technologies since 2013 so that makes me fairly new to the paradigm.
                I have mostly been associated with small to medium sized new age startups which gave me a decent understanding of
                ins and outs of a complete product development process.</p>
            <p>I am a tech enthusiast who likes to play with all kinds of web technologies in my free time.
                I intend this blog to be record of my explorations with technology outside of work.
                In the long run I would be adding a number of articles and posts about implementations of different types of
                technologies and how to gel them together to form a stable process chain.</p>
            <p><b>Note:</b> This is only a placeholder page made to occupy the URL for the time being while I am still
                deciding on the architecture and hammering out the nuiances.
                The actual blog will be of a far better standard (I hope :p)</p>
        </div>
    </body>
</html>
