<!DOCTYPE html>
<html>
    <head>
        <title>Home | Surender Thakran</title>
        <meta name="description" content="Surender Thakran's technical articles about web development, server management and enterprise architecture">
        <meta name="author" content="Surender Thakran">
        <meta charset="utf-8">
        <meta name="keywords" content="web,css3,html5">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="./app/css/normalize_3.0.3.css">
        <link rel="stylesheet" href="./app/css/main.css">
        <link rel="stylesheet" href="./app/css/header.css">
    </head>
    <!-- <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]
        <link rel="preconnect" href="//ajax.googleapis.com">
        <link rel="preconnect" href="//fonts.googleapis.com">
        <link href="" rel="alternate" title="Surender Thakran" type="application/atom+xml">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head> -->
    <body>
        <header class="page-header">
            <div class="signature">
                <a href="http://surenderthakran.com" class="width-100">
                    <p>SURENDER THAKRAN</p>
                </a>
                <p class="width-100">Technology Enthusiast</p>
                <div class="external-logos hidden">
                    <a href="https://github.com/surenderthakran" target="_blank">
                        <img alt="GitHub Logo" src="./images/github_logo_large.png">
                    </a>
                    <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
                        <img alt="LinkedIn Logo" src="./images/linkedin_logo_large.png">
                    </a>
                </div>
            </div>
            <div class="searchbar">
                <div class="external-logos">
                    <a href="https://github.com/surenderthakran" target="_blank">
                        <img alt="GitHub Logo" src="./images/github_logo_small.png">
                    </a>
                    <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
                        <img alt="LinkedIn Logo" src="./images/linkedin_logo_small.png">
                    </a>
                </div>
                <a class="search-icon">
                    <img alt="search button" src="./images/search_icon_small.png">
                </a>
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="http://surenderthakran.com">Home</a>
                    </li>
                    <li>Articles</li>
                    <li>About</li>
                </ul>
            </nav>
        </header>
        <section>New Article List</section>
        <section>Top Article List</section>
        <section>Tags List</section>
        <footer>Surender Thakran</footer>
    </body>
</html>
