<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head_content}}
  </head>
  <body>
    {{>header}}
    <section class="about">
      <img alt="Surender Thakran's Image"
           src="/images/owner.jpeg">
      <p>Hey I am Surender, an engineer by profession and a jack of all trades
        by passion. I am a brown belt in Karate and a semi-pro swimmer.
        I am also an avid reader (190+ books as of July 2018), fantasy
        being my favorite genre.</p>
      <h2>Profession</h2>
      <p>I have been working with web technologies since early 2013 and
        managing server & code architectures since early 2014 so that makes me
        a sort of psuedo veteran in the paradigm. I have worked with small and
        medium sized startups where I frequently built systems from the scratch
        and then iteratively expanded them to scale up.</p>
      <p>I started working with (not for) Google in 2016 and got introduced to
        some really amazing technologies and standards. I am especially a fan of
        their development pipelines, single repository source control system and
        impressive coding standards.</p>
      <h2>Skills</h2>
      <p>I am a full stack developer and a tech enthusiast who likes to tinker
        with all kinds of technologies in my free time ranging from frontend
        to backend to server architectures to standalone applications.
        Recently I got enamored with neural networks and am currently playing
        around with it.</p>
      <p>I have tried to bring the coding standards used at Google in all my
        personal projects and the results have been truly amazing.</p>
      <h2>Contact Me</h2>
      <p>While I live in the National Capital Region (NCR) of India, I would
        love to hear from people all over the planet. I can be found on:</p>
      <ul>
        <li>
          <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
            <img alt="LinkedIn logo"
                 src="/images/linkedin_logo_large.png">
          </a>
        </li>
        <li>
          <a href="https://github.com/surenderthakran" target="_blank">
            <img alt="Github logo"
                 src="/images/github_logo_large.png">
          </a>
        </li>
        <li>
          <a href="https://store.docker.com/profiles/surenderthakran"
             target="_blank">
            <img alt="Docker Logo" src="/images/docker_logo_large.png">
          </a>
        </li>
        <li>
          <a href="https://www.goodreads.com/review/list/15619049?shelf=read">
            <img alt="Goodreads logo"
                 src="/images/goodreads_logo_large.jpg">
          </a>
        </li>
      </ul>
    </section>
    {{>footer}}
  </body>
</html>
