<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head_content}}
  </head>
  <body>
    {{>header}}
    <section class="article">
      <header class="head">
        <h1>{{ article.title }}</h1>
        <span class="read-time">{{ article.readTime }} min read</span>
        <span class="dot-separator"></span>
        <time datetime="{{ article.datetime }}">Published {{ article.date }}</time>
        {{#article.updateDate}}
          <span class="dot-separator"></span>
          <time datetime="{{ article.updateDatetime }}">Updated {{ article.updateDate }}</time>
        {{/article.updateDate}}
        {{>tags}}
      </header>
      <article class="body">
        {{{ article.body }}}
      </article>
    </section>
    {{>footer}}
  </body>
</html>
