<title>{{ head.title }}</title>
<meta name="description" content="{{ head.description }}">
<meta name="author" content="Surender Thakran">
<meta charset="utf-8">
<meta name="keywords" content="{{ head.keywords }}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Added to have blog's theme color on browser's address bar in mobile browsers -->
<meta name="theme-color" content="#484871" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/css/main.min.css">
<!-- TODO(surenderthakran): use minimized js when ready -->
<script src="/js/main.js"></script>
<!-- Prism for syntax highlighting -->
<link rel="stylesheet" href="/vendor/css/prism.min.css">
<script src="/vendor/js/prism.min.js"></script>
<!-- Included to create a TCP connection with the google analytics server to speed up analytics.js download -->
<link rel="preconnect" href="//www.google-analytics.com">
<script>
    if (window.location.hostname === "surenderthakran.com") {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78619965-1', 'auto');
        ga('send', 'pageview');
    }
</script>
