<title>{{ head.title }}</title>
<meta name="description" content="{{ head.description }}">
<meta name="author" content="Surender Thakran">
<meta charset="utf-8">
<meta name="keywords" content="{{ head.keywords }}">
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/dist/css/main.css">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]
<link rel="preconnect" href="//ajax.googleapis.com">
<link rel="preconnect" href="//fonts.googleapis.com">
<link href="" rel="alternate" title="Surender Thakran" type="application/atom+xml">
<meta name="viewport" content="width=device-width,initial-scale=1"> -->
