<header class="page-header">
    <div class="signature">
        <a href="http://surenderthakran.com" class="width-100">
            <p>SURENDER THAKRAN</p>
        </a>
        <p class="width-100">Technology Enthusiast</p>
        <div class="external-logos-large">
            <a href="https://github.com/surenderthakran" target="_blank">
                <img alt="GitHub Logo" src="./images/header/github_logo_large.png">
            </a>
            <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
                <img alt="LinkedIn Logo" src="./images/header/linkedin_logo_large.png">
            </a>
        </div>
    </div>
    <div class="toggle-bar">
        <div class="centerbar">
            <div class="external-logos-small">
                <a href="https://github.com/surenderthakran" target="_blank">
                    <img alt="GitHub Logo" src="./images/header/github_logo_small.png">
                </a>
                <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
                    <img alt="LinkedIn Logo" src="./images/header/linkedin_logo_small.png">
                </a>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
