/* Page Header */

$header-height: 95px;

$responsive-threshold: 830px;
$header-responsive-height: 75px;

header.page-header {
    background-color: #E0E2FB;
    width: 100%;
    height: $header-height;
    padding: 1.5em 2em;
    box-shadow: 0 2px 5px rgba(255,255,255,0.5);

    @media screen and (max-width: $responsive-threshold) {
        background-color: #484871;
        padding: 1em 2em;
        height: $header-responsive-height;
    }

    /* Signature */

    .signature {
        width: 33%;
        min-width: 260px;
        line-height: 1.5em;

        a {
            text-decoration: none;
            color: #484871;
            letter-spacing: 1px;
            font-size: 1.3em;

            @media screen and (max-width: $responsive-threshold) {
                color: #FFFFFF;
            }
        }

        p {
            font-size: 0.9em;
            color: #484871;
            letter-spacing: 1px;

            @media screen and (max-width: $responsive-threshold) {
                color: #E2E2E2;
            }
        }

        .external-logos-large {
            padding: 2px 0;
            display: none;              /* TODO(surenderthakran): remove display: none when this construct is needed again */

            a {
                text-decoration: none;
                padding: 0 10px 0 0;
            }
        }
    }

    .toggle-bar {
        width: 66%;
        margin: 0.5em 0;
        float: right;

        @media screen and (max-width: $responsive-threshold) {
            width: 100%;
            position: absolute;
            background-color: #E0E2FB;
            top: $header-responsive-height;
            left: 0;
            right: 0;
            margin: 0;
            box-shadow: 0 2px 5px rgba(255,255,255,0.5);
            padding: 0.5em 2em;
        }

        /* Center Bar */

        .centerbar {
            width: 50%;
            text-align: center;

            @media screen and (max-width: $responsive-threshold) {
                text-align: left;
                width: auto;
            }

            /* External icons */

            .external-logos-small {
                padding: 2px 0;
                display: inline-block;
                float: none;

                a {
                    text-decoration: none;
                    padding: 0 5px;
                    opacity: 0.5;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);

                    &:hover {
                        opacity: 0.8;
                        -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                    }
                }
            }
        }

        /* Navigation Menu */

        nav.menu {
            width: 50%;

            @media screen and (max-width: $responsive-threshold) {
                width: auto;
                float: right;
            }

            ul {
                list-style-type: none;
                float: right;

                li {
                    padding: 0 0.8em;

                    a {
                        position: relative;
                        text-decoration: none;
                        font-size: 0.9em;
                        color: #484871;
                        letter-spacing: 1px;
                        line-height: 2em;

                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #484871;
                            visibility: hidden;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                        }

                        &:hover:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}
