<header class="page-header">
  <div class="content">
    <div class="signature">
      <img class="owner-image"
           alt="Surender Thakran's Image"
           src="/images/owner.jpeg">
      <div>
        <a href="/">
          <p>SURENDER THAKRAN</p>
        </a>
        <p>Technology Enthusiast</p>
      </div>
    </div>
    <div class="centerbar">
      <a href="https://github.com/surenderthakran" target="_blank">
        <img alt="GitHub Logo" src="/images/github_logo_small.png">
      </a>
      <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
        <img alt="LinkedIn Logo" src="/images/linkedin_logo_small.png">
      </a>
    </div>
    <nav class="menu">
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/projects">PROJECTS</a>
        </li>
        <li>
          <a href="/about">ABOUT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="spacer"></div>
