<header class="page-header">
  <div class="signature">
    <img class="owner-image"
         alt="Surender Thakran's Image"
         src="https://media.licdn.com/dms/image/C5603AQFZsl6qCf-F3g/profile-displayphoto-shrink_200_200/0?e=1539820800&v=beta&t=vz_ZhOCdNqHpb3ZV45g1FG4E3sV70mmyt1Ekue9nkMQ">
    <div>
      <a href="/">
        <p>SURENDER THAKRAN</p>
      </a>
      <p>Technology Enthusiast</p>
    </div>
    <div class="external-logos-large">
      <a href="https://github.com/surenderthakran" target="_blank">
        <img alt="GitHub Logo" src="/images/github_logo_large.png">
      </a>
      <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
        <img alt="LinkedIn Logo" src="/images/linkedin_logo_large.png">
      </a>
    </div>
  </div>
  <div class="toggle-bar">
    <div class="centerbar">
      <div class="external-logos-small">
        <a href="https://github.com/surenderthakran" target="_blank">
          <img alt="GitHub Logo" src="/images/github_logo_small.png">
        </a>
        <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
          <img alt="LinkedIn Logo" src="/images/linkedin_logo_small.png">
        </a>
      </div>
    </div>
    <nav class="menu">
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/projects">PROJECTS</a>
        </li>
        <li>
          <a href="/about">ABOUT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
