<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head_content}}
    </head>
    <body>
        {{>header}}
        <article class="article">
            <header>
                <h1>{{ article.title }}</h1>
                <time datetime="{{ article.datetime }}">Published On: {{ article.date }}</time>
                {{#article.update_date}}
                    <time datetime="{{ article.update_datetime }}">Last Updated: {{ article.update_date }}</time>
                {{/article.update_date}}
            </header>
            <div class="article-body">
              {{{ article.body }}}
            </div>
        </article>
    </body>
</html>
