<!DOCTYPE html>
<html>
    <head>
        <title>Article | Surender Thakran</title>
        <meta name="description" content="Surender Thakran's technical articles about web development, server management and enterprise architecture">
        <meta name="author" content="Surender Thakran">
        <meta charset="utf-8">
        <meta name="keywords" content="web,css3,html5">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="./dist/css/main.css">
    </head>
    <!-- <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]
        <link rel="preconnect" href="//ajax.googleapis.com">
        <link rel="preconnect" href="//fonts.googleapis.com">
        <link href="" rel="alternate" title="Surender Thakran" type="application/atom+xml">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head> -->
    <body>
        <header class="page-header">
            <div class="signature">
                <a href="http://surenderthakran.com" class="width-100">
                    <p>SURENDER THAKRAN</p>
                </a>
                <p class="width-100">Technology Enthusiast</p>
                <div class="external-logos-large">
                    <a href="https://github.com/surenderthakran" target="_blank">
                        <img alt="GitHub Logo" src="./images/header/github_logo_large.png">
                    </a>
                    <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
                        <img alt="LinkedIn Logo" src="./images/header/linkedin_logo_large.png">
                    </a>
                </div>
            </div>
            <div class="toggle-bar">
                <div class="centerbar">
                    <div class="external-logos-small">
                        <a href="https://github.com/surenderthakran" target="_blank">
                            <img alt="GitHub Logo" src="./images/header/github_logo_small.png">
                        </a>
                        <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
                            <img alt="LinkedIn Logo" src="./images/header/linkedin_logo_small.png">
                        </a>
                    </div>
                </div>
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <article>
            <header>
                <h1>This is an example article page layout!</h1>
                <time datetime="2016-05-22">22nd May 2016</time>
            </header>
            <div class="article-body">
                <h2>What is this about?</h2>
                <p>Over the <a href="www.google.com">last few months</a>, the majority of Suicide Squad related headlines have been hogged by Jared Leto explaining all the ridiculous things he did to get into the head of the Joker.</p>
                <p>From sending a dead pig to his fellow cast members and demanding they all call him Mr. J, it sounds like the 30 Seconds to Mars singer has gone all-in with his latest role.</p>
                <p>However, as we all know, this is an ensemble film featuring numerous villains from throughout DC Comics’ history, including Deadshot, Harley Quinn and Rick Flag.</p>
                <h2>How to use it?</h2>
                <p>Also playing a part in the film is Cara Delevingne as Enchantress - while not a member of the squad, her powers have garnered the government’s attention and she partakes in the adventure.</p>
                <pre>
                    <code>sudo apt-get update</code>
                    <code>sudo apt-get install mysql-server;sudo apt-get install mysql-server;sudo apt-get install mysql-server;sudo apt-get install mysql-server;sudo apt-get install mysql-server;sudo apt-get install mysql-server;</code></pre>
                <p>In a recent interview with W, the fashion model turned actress described her audition process and it sounds just as bizarre as what is going on in Leto’s head.</p>
                <p>She told the publication that she met director David Ayer on a "dark and stormy night” in which the pair discussed addiction and mental illness. On their second meeting, she was asked to read Who's Afraid of Virginia Woolf?<p>
                <p>"Somehow, when we were doing the scene, I became livid,” she said. "I hadn't felt rage like that in years. And then I got the part!</p>
                <p>"There still wasn't a script, but David asked me to go and try and find a forest and, if it was a full moon, get naked and walk through the woods with my feet in the mud, which I did. There wasn't a full moon, but I howled like a wolf. It would have been really funny if someone had seen me.”</p>
            </div>
        </article>
    </body>
</html>
