<!DOCTYPE html>
<html>
    <head>
        <title>Home | Surender Thakran</title>
        <meta name="description" content="Surender Thakran's technical articles about web development, server management and enterprise architecture">
        <meta name="author" content="Surender Thakran">
        <meta charset="utf-8">
        <meta name="keywords" content="web,css3,html5">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="./dist/css/main.css">
    </head>
    <!-- <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]
        <link rel="preconnect" href="//ajax.googleapis.com">
        <link rel="preconnect" href="//fonts.googleapis.com">
        <link href="" rel="alternate" title="Surender Thakran" type="application/atom+xml">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head> -->
    <body>
        <header class="page-header">
            <div class="signature">
                <a href="http://surenderthakran.com" class="width-100">
                    <p>SURENDER THAKRAN</p>
                </a>
                <p class="width-100">Technology Enthusiast</p>
                <div class="external-logos-large">
                    <a href="https://github.com/surenderthakran" target="_blank">
                        <img alt="GitHub Logo" src="./images/github_logo_large.png">
                    </a>
                    <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
                        <img alt="LinkedIn Logo" src="./images/linkedin_logo_large.png">
                    </a>
                </div>
            </div>
            <div class="toggle-bar">
                <div class="centerbar">
                    <div class="external-logos-small">
                        <a href="https://github.com/surenderthakran" target="_blank">
                            <img alt="GitHub Logo" src="./images/github_logo_small.png">
                        </a>
                        <a href="https://in.linkedin.com/in/surenderthakran" target="_blank">
                            <img alt="LinkedIn Logo" src="./images/linkedin_logo_small.png">
                        </a>
                    </div>
                </div>
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- <section>New Article List</section>
        <section>Top Article List</section>
        <section>Tags List</section> -->
        <!-- <footer>Surender Thakran</footer> -->
        <div>
            <img src="./images/author.png" style="width: 20%; padding: 2em;">
            <div style="float: left; width: 800px; margin: 2%; font-size: 18px; font-family: serif; ">
                <p style="font-weight: bold; font-size: 30px; margin-bottom:1em; ">About The Author</p>
                <p>My name is Surender Thakran.
                    I have been working with web technologies since 2013 so that makes me fairly new to the paradigm.
                    I have mostly been associated with small to medium sized new age startups which gave me a decent understanding of
                    ins and outs of a complete product development process.</p>
                <p style="margin-bottom:1em; ">I am a tech enthusiast who likes to play with all kinds of web technologies in my free time.
                    I intend this blog to be record of my explorations with technology outside of work.
                    In the long run I would be adding a number of articles and posts about implementations of different types of
                    technologies and how to gel them together to form a stable process chain.</p>
                <p style="margin-bottom:1em; "><b>Note:</b>&nbsp;The project is a work in progress and in very early stages of development.
                    You can checkout the progress on the blog on its <a href="https://github.com/surenderthakran/blogger" target="_blank" style="float:none; ">GitHub Repo</a>.
                    I am working on some cool stuff there.</p>
            </div>
        </div>
    </body>
</html>
