<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head_content}}
    </head>
    <body>
        {{>header}}
        <section class="article-list">
            <header>NEW ARTICLES</header>
            <ul>
                {{#articles}}
                <li>
                    <a href="{{ template_data.url }}"><h1>{{ template_data.article.title }}</h1></a>
                    <time datetime="{{ template_data.article.datetime }}">{{ template_data.article.date }}</time>
                </li>
                {{/articles}}
            </ul>
        </section>
    </body>
</html>
